body {
  font-family: Helvetica;
  background-color: white;
}

h2 {
  color: white;
  font-weight: bold

}
.header {
  font-size: 100px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-2/pattern.jpeg);
  font-weight: bold;
  color: khaki;
  text-align: center;
}
.blue {
  color: blue
}
